services:
  fossbilling:
    image: fossbilling/fossbilling:latest
    restart: always
    ports:
      - 5080:80
    volumes:
      - fossbilling:/var/www/html
      - ./themes:/var/www/html/themes
  mysql:
    image: mysql:8.2
    restart: always
    environment:
      MYSQL_DATABASE: fossbilling
      MYSQL_USER: fossbilling
      MYSQL_PASSWORD: fossbilling
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - mysql:/var/lib/mysql
volumes:
  fossbilling:
  mysql:
